<!DOCTYPE html>
<html 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body layout:fragment="rodape-frag">

<!--<footer id="rodape" class="rodape">-->
<footer id="rodape" class="mt-3">
  <!--<span>© 2018 FATA - Instituto de Computação - Universidade Federal de Mato Grosso</span>-->
  
  <!-- Bibliotecas JS -->
  <script th:src="@{/js/geral/jquery-3.3.1.js}"></script>
  <script th:src="@{/js/geral/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/geral/fontawesome.js}"></script>
  <script defer th:src="@{/js/geral/fa-solid.js}"></script>
  <script th:src="@{/js/geral/datatables.js}"></script>
  
  <!-- JS comum a todas as páginas -->
  <script defer th:src="@{/js/geral/scripts.js}"></script>
  
  <!-- JS de cada página (se existir) -->
  <div layout:fragment="rodape-scripts-frag"></div>

</footer>

</body>
</html>
