<!DOCTYPE HTML>
<html 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragmentos/pastaPalavra">

<head>
  <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Sujeitos</title>
</head>

<body>

<main>
  <h2 layout:fragment="titulo-frag">SUJEITOS</h2>
  
  <!-- Modal de cadastro -->
  <!-- Substitui o div pelo fragmento de modal, alterando o ID e Título -->
  <div layout:fragment="modal-cadastro-frag"
       layout:replace="fragmentos/modalVazio :: modal-frag(modalId='modal-cadastro', modalTitulo='CADASTRO DE SUJEITO')"></div>
  
  <!-- Conteúdo do Modal, para ser inserido DINAMICAMENTE (não aparece na página quando instanciado) -->
  <form th:fragment="form-cadastro" id="form-cadastro" th:assert="${palavra1}"
        th:action="@{/pastaSujeito/salvar}"
        th:object="${palavra1}" method="post" enctype="multipart/form-data">
    
    <div class="modal-body">
      <div class="container">
        <div class="row align-items-center">
  
          <!-- Imagem -->
          <fieldset class="col-md-3 form-group"
                    layout:include="fragmentos/uploadImagem :: uploadImagem-frag(
                      imagemId='imagem-palavra',
                      tamanho=150,
                      src=*{url})">
          </fieldset>
          
          <!-- Lado direito (Campos) -->
          <fieldset class="col-md-9 form-group">
            
            <!-- Entrada Palavra-->
            <div class="form-group row">
              <label class="col-md-3 col-form-label font-weight-bold"
                     for="input-palavra">PALAVRA</label>
              
              <div class="col-md-9">
                <input class="form-control " id="input-palavra" name="input-palavra"
                       required="" type="text" th:field="*{palavra}"/>
              </div>
            
            </div>
            
            <!-- Radio Sexo -->
            <div class="form-group row">
              <label class="col-md-3 font-weight-bold">SEXO</label>
              
              <div class="col-md-9">
                
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" id="sexo-0" name="grupo-sexo" type="radio" value="M"
                         th:field="*{sexo}" required=""/>
                  <label class="custom-control-label" for="sexo-0">MASCULINO</label>
                </div>
                
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" id="sexo-1" name="grupo-sexo" type="radio" value="F"
                         th:field="*{sexo}" required=""/>
                  <label class="custom-control-label" for="sexo-1">FEMININO</label>
                </div>
              
              </div>
            </div>
            
            <!-- Radio Pronome -->
            <div class="form-group row">
              <label class="col-md-3 font-weight-bold">PRONOME</label>
              
              <div class="col-md-9">
                
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" checked="" id="pronome-0" name="grupo-pronome" type="radio" value="EU"
                         th:field="*{pronome}" required=""/>
                  <label class="custom-control-label" for="pronome-0">EU</label>
                </div>
                
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" id="pronome-1" name="grupo-pronome" type="radio" value="VOCE"
                         th:field="*{pronome}" required=""/>
                  <label class="custom-control-label" for="pronome-1">VOCÊ</label>
                </div>
                
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="custom-control-input" id="pronome-2" name="grupo-pronome" type="radio" value="NOS"
                         th:field="*{pronome}" required=""/>
                  <label class="custom-control-label" for="pronome-2">NÓS</label>
                </div>
              
              </div>
            </div>
          
          </fieldset>
        
        </div>
      </div>
    
    </div>
    
    <div class="modal-footer">
      <button type="reset" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
      <button id="botao-enviar-form" type="submit" class="btn btn-primary">SALVAR</button>
    </div>
  
  </form>
  
  <!-- Tabela de palavras -->
  <table layout:fragment="tabela-palavra-frag" id="tabela-palavras"
         class="table table-sm table-bordered table-striped">
    
    <thead>
    <tr>
      <th scope="col" class="text-center">Imagem</th>
      <th scope="col">Sujeito</th>
      <th scope="col">Pessoa</th>
      <th scope="col">Sexo</th>
      <th scope="col" class="text-center controle">Editar</th>
    </tr>
    </thead>
    
    <tbody>
    <tr th:each="sujeito : ${listaPalavra}">
      
      <td class="text-center">
        <img class="img-thumbnail img-fluid d-block mx-auto"
             th:src="@{${sujeito.url}}"
             src="../static/images/placeholder.png" width="60">
      </td>
      
      <td class="align-middle" th:text="${sujeito.palavra}">(Enfermeira)</td>
      <td class="align-middle" th:text="${sujeito.pronome}">(Eu)</td>
      <td class="align-middle" th:text="${sujeito.sexo}">(Feminino)</td>
      
      <td class="align-middle text-center">
        <button th:id="${sujeito.id}" type="button" class="btn btn-link botao-editar-cadastro">
          <i class="fas fa-edit fa-lg fa-fw"></i>
        </button>
        <button th:id="${sujeito.id}" type="button" class="btn btn-link botao-remover-cadastro">
          <i class="fas fa-trash fa-lg fa-fw"></i>
        </button>
      </td>
    
    </tr>
    </tbody>
  
  </table>

</main>

</body>

</html>
