<!DOCTYPE HTML>
<html 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragmentos/pastaPalavra">

<head>
  <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Verbos</title>
</head>

<body>

<main>
  <h2 layout:fragment="titulo-frag">VERBOS</h2>
  
  <!-- Modal de cadastro -->
  <!-- Substitui o div pelo fragmento de modal, alterando o ID e Título -->
  <div layout:fragment="modal-cadastro-frag"
       layout:replace="fragmentos/modalVazio :: modal-frag(modalId='modal-cadastro', modalTitulo='CADASTRO DE VERBO')"></div>
  
  <!-- Conteúdo do Modal, para ser inserido DINAMICAMENTE (não aparece na página quando instanciado) -->
  <form th:fragment="form-cadastro" id="form-cadastro" th:assert="${palavra1}"
        th:object="${palavra1}"
        th:action="@{/pastaVerbo/salvar}" method="post" enctype="multipart/form-data">
    
    <div class="modal-body">
  
        <!-- Imagem e Palavra -->
        <div class="row form-group justify-content-center align-items-center">
  
          <!-- Imagem -->
          <fieldset class="col-md-3 form-group"
                    layout:include="fragmentos/uploadImagem :: uploadImagem-frag(
                      imagemId='imagem-palavra',
                      tamanho=150,
                      src=*{url})">
          </fieldset>
      
          <div class="col-md-5">
            <label class="col-form-label font-weight-bold" for="input-palavra">PALAVRA:</label>
            <input class="form-control " id="input-palavra" name="input-palavra"
                   required="" type="text" th:field="*{palavra}">
          </div>
    
        </div>
    
        <!-- Conjugação -->
        <div class="row">
      
          <!-- Eu -->
          <fieldset class="col-md card mr-1">
            <section class="card-body">
          
              <h5 class="card-title">EU</h5>
              <hr>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold"
                       for="input-presente-eu">PRESENTE</label>
                <input class="form-control " id="input-presente-eu" name="input-presente-eu"
                       required="" type="text" th:field="*{presenteEu}">
              </div>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold" for="input-passado-eu">PASSADO</label>
                <input class="form-control " id="input-passado-eu" name="input-passado-eu"
                       required="" type="text" th:field="*{passadoEu}">
              </div>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold" for="input-futuro-eu">FUTURO</label>
                <input class="form-control " id="input-futuro-eu" name="input-futuro-eu"
                       required="" type="text" th:field="*{futuroEu}">
              </div>
        
            </section>
          </fieldset>
      
          <!-- Você -->
          <fieldset class="col-md card mr-1">
            <section class="card-body">
          
              <h5 class="card-title">VOCÊ</h5>
              <hr>
              <div class="form-group">
                <label class="col-form-label font-weight-bold"
                       for="input-presente-voce">PRESENTE</label>
                <input class="form-control " id="input-presente-voce"
                       name="input-presente-voce"
                       required="" type="text" th:field="*{presenteVoce}">
              </div>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold"
                       for="input-passado-voce">PASSADO</label>
                <input class="form-control " id="input-passado-voce"
                       name="input-passado-voce"
                       required="" type="text" th:field="*{passadoVoce}">
              </div>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold" for="input-futuro-voce">FUTURO</label>
                <input class="form-control " id="input-futuro-voce" name="input-futuro-voce"
                       required="" type="text" th:field="*{futuroVoce}">
              </div>
        
            </section>
          </fieldset>
      
          <!-- Nós -->
          <fieldset class="col-md card mr-1">
            <section class="card-body">
          
              <h5 class="card-title">NÓS</h5>
              <hr>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold"
                       for="input-presente-nos">PRESENTE</label>
                <input class="form-control " id="input-presente-nos"
                       name="input-presente-nos"
                       required="" type="text" th:field="*{presenteNos}">
              </div>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold"
                       for="input-passado-nos">PASSADO</label>
                <input class="form-control " id="input-passado-nos" name="input-passado-nos"
                       required="" type="text" th:field="*{passadoNos}">
              </div>
          
              <div class="form-group">
                <label class="col-form-label font-weight-bold" for="input-futuro-nos">FUTURO</label>
                <input class="form-control " id="input-futuro-nos" name="input-futuro-nos"
                       required="" type="text" th:field="*{futuroNos}">
              </div>
        
            </section>
          </fieldset>
    
        </div>
  
    </div>
    
    <div class="modal-footer">
      <button type="reset" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
      <button id="botao-enviar-form" type="submit" class="btn btn-primary">SALVAR</button>
    </div>
  
  </form>
  
  <!-- Tabela de Palavra -->
  <table layout:fragment="tabela-palavra-frag" id="tabela-palavras"
         class="table   table-sm table-bordered table-striped">
    
    <thead>
    <tr>
      <th scope="col" class="text-center">Imagem</th>
      <th scope="col">Verbo</th>
      <th scope="col">Eu</th>
      <th scope="col">Nós</th>
      <th scope="col">Você</th>
      <th scope="col" class="text-center controle">Editar</th>
    </tr>
    </thead>
    
    <tbody>
    <tr th:each="verbo : ${listaPalavra}">
      
      <td class="text-center">
        <img class="img-thumbnail img-fluid d-block mx-auto"
             th:src="@{${verbo.url}}" src="../static/images/placeholder.png" width="60">
      </td>
  
      <td class="align-middle" th:text="${verbo.palavra}"></td>
      <td class="align-middle"
          th:text="|${verbo.presenteEu} / ${verbo.passadoEu} / ${verbo.futuroEu}|"></td>
      <td class="align-middle"
          th:text="|${verbo.presenteNos} / ${verbo.passadoNos} / ${verbo.futuroNos}|"></td>
      <td class="align-middle"
          th:text="|${verbo.presenteVoce} / ${verbo.passadoVoce} / ${verbo.futuroVoce}|"></td>
      
      <td class="align-middle text-center">
        <button th:id="${verbo.id}" type="button" class="btn btn-link botao-editar-cadastro">
          <i class="fas fa-edit fa-lg fa-fw"></i>
        </button>
        <button th:id="${verbo.id}" type="button" class="btn btn-link botao-remover-cadastro">
          <i class="fas fa-trash fa-lg fa-fw"></i>
        </button>
      </td>
    
    </tr>
    </tbody>
  
  </table>

</main>


</body>
</html>
